.card {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.tT {
  text-align: center;
  display: inline-block;
  margin: 1em;
  width: 400px;
  padding: 7px;
  background-size: cover;
}
